<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:fragment="js">
  <!-- Mainly scripts -->
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Peity -->
  <script src="/js/plugins/peity/jquery.peity.min.js"></script>

  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>


  <!-- Custom and plugin javascript -->
  <script src="/js/inspinia.js"></script>
  <script src="/js/plugins/pace/pace.min.js"></script>

  <!-- iCheck -->
  <script src="/js/plugins/iCheck/icheck.min.js"></script>

  <script src="/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
  <script src="/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
  <script src="/js/plugins/bs-custom-file/bs-custom-file-input.min.js"></script>

  <script src="/js/base.js"></script>
  <script src="/js/functions.js"></script>

  <script src="/js/plugins/simplelightbox/simpleLightbox.min.js"></script>
  <script src="/js/plugins/doka/doka.jquery.min.js"></script>
  <script src="/js/FileUpload.js"></script>
  <script src="/js/ImageUpload.js"></script>
  <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
  <!--s select2 autocomplete select box-->
  <script src="/js/plugins/select2/select2.full.min.js"></script>
  <!--e select2 autocomplete select box-->
  <!--s moment-->
  <script src="/js/plugins/moment/moment.js"></script>
  <!--e moment-->
  <!--s summernote-->
  <script src="/js/plugins/summernote/summernote-bs4.js"></script>
  <script src="/js/plugins/summernote/lang/summernote-ko-KR.js"></script>
  <!--e summernote-->
  <!--s sweetalert-->
  <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
  <!--e sweetalert-->

  <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->


</section>

</body>
</html>